.idea/
cmake-build-debug/
cmake-build-release/
debian/.debhelper/
debian/debhelper-build-stamp
debian/deepin-boot-maker.debhelper.log
debian/deepin-boot-maker.substvars
debian/deepin-boot-maker/
debian/files
debian/tmp/
*.o
moc_*
*.qm
*.user
.vscode
build/
Makefile
qrc_*
src/app/deepin-boot-maker
src/service/deepin-boot-maker-service
*.a
.qmake.stash
